﻿@import "bootstrap/css/bootstrap.less";
body { 
    padding-top: 97px; 
    @media (max-width: @screen-xs-max) {
        padding-top: 148px;
    }
}
p {
    margin-bottom: 0px;
}
img {
    width: 100%;
}
ul {
    padding-top: 15px;
    margin-bottom: 0px;
}
li {
    padding-bottom: 15px;
    > a {
        @media (max-width: @screen-sm-max) {
            font-size: @font-size-base;
        }
    }
}

.mar-t-xs-10 {      
    margin-top: 10px;
}
.mar-t-xs-15 {    
    margin-top: 15px;
}
.mar-t-xs-20 {    
    margin-top: 20px;
}
.mar-t-xs-25 {    
    margin-top: 25px;
}
.mar-t-xs-30 {    
    margin-top: 30px;
}
.mar-t-xs-35 {    
    margin-top: 35px;
}
.mar-b-xs-10 {      
    margin-bottom: 10px;
}
.mar-b-xs-15 {    
    margin-bottom: 15px;
}
.mar-b-xs-20 {    
    margin-bottom: 20px;
}
.mar-b-xs-25 {    
    margin-bottom: 25px;
}
.mar-b-xs-30 {    
    margin-bottom: 30px;
}
.mar-b-xs-35 {    
    margin-bottom: 35px;
}
@media (min-width: @screen-sm) {
    .mar-t-sm-10 {      
        margin-top: 10px;
    }
    .mar-t-sm-15 {    
        margin-top: 15px;
    }
    .mar-t-sm-20 {    
        margin-top: 20px;
    }
    .mar-t-sm-25 {    
        margin-top: 25px;
    }
    .mar-t-sm-30 {    
        margin-top: 30px;
    }
    .mar-t-sm-35 {    
        margin-top: 35px;
    }
    .mar-t-sm-40 {    
        margin-top: 40px;
    }
    .mar-t-sm-45 {    
        margin-top: 45px;
    }
    .mar-t-sm-50 {    
        margin-top: 50px;
    }
    .mar-b-sm-10 {      
        margin-bottom: 10px;
    }
    .mar-b-sm-15 {    
        margin-bottom: 15px;
    }
    .mar-b-sm-20 {    
        margin-bottom: 20px;
    }
    .mar-b-sm-25 {    
        margin-bottom: 25px;
    }
    .mar-b-sm-30 {    
        margin-bottom: 30px;
    }
    .mar-b-sm-35 {    
        margin-bottom: 35px;
    }
    .mar-b-sm-40 {    
        margin-bottom: 40px;
    }
    .mar-b-sm-45 {    
        margin-bottom: 45px;
    }
    .mar-b-sm-50 {    
        margin-bottom: 50px;
    }
}
a.mar-t-xs-10, a.mar-t-sm-10, 
a.mar-t-xs-15, a.mar-t-sm-15, 
a.mar-t-xs-20, a.mar-t-sm-20, 
a.mar-t-xs-25, a.mar-t-sm-25, 
a.mar-t-xs-30, a.mar-t-sm-30, 
a.mar-t-xs-35, a.mar-t-sm-35,
a.mar-t-xs-40, a.mar-t-sm-40, 
a.mar-t-xs-45, a.mar-t-sm-45, 
a.mar-t-xs-50, a.mar-t-sm-50 {
    display: inline-block;
}
.link-inverse {
  color: @link-hover-color;

  &:hover,
  &:focus {
    color: @link-color;
  }
}
.link-lg {
    font-size: 18px;
    line-height: 30px;
    @media (max-width: @screen-sm-max) {
      font-size: 15px;
      line-height: 24px;
    }
}
.banner-container {
    img {
            width: 100%;
            height: auto;
        }
    overflow: hidden;
    height: 450px;
    @media (max-width: @screen-md-max) {
      height: 350px;
    }
    @media (max-width: @screen-sm-max) {
      height: 240px;
    } 
}
.header-with-icon-label {
    font-size: 24px;
    line-height: 47px;
    background-color: @gray-bg;
    @media (max-width: @screen-md-max) {
        font-size: 14px;
        //line-height: 50px
    }
}

.bord-1 {
  border-bottom: 1px solid @gray-color;
}
.container-1 {
    padding-top: 35px;
    .col-sm-4 {
        margin-top: 40px;
        margin-bottom: 40px;
        @media (max-width: @screen-md-max) {
          margin-top: 27px;
        }
        @media (max-width: @screen-sm-max) {
          margin-top: 15px;
        }
        @media (max-width: @screen-xs-max) {
          margin-top: 10px;
          margin-bottom: 20px;
        }
    }
    a {
        display: inline-block;
        margin-top: 25px;
    }
    p {
        margin-top: 15px;
        margin-bottom: 0px;
    }
}
.container-2 {
    margin-top: 40px;
    margin-bottom: 40px;
    @media (max-width: @screen-xs-max) {
        margin-top: 25px;
        margin-bottom: 20px;
    }
    p {
        margin-top: 15px;
        margin-bottom: 0px;
    }
}
.container-3 {
    margin-top: 40px;
    margin-bottom: 60px;
    @media (max-width: @screen-xs-max) {
        margin-top: 25px;
        margin-bottom: 30px;
    }
    @media (max-width: @screen-xs-max) {
        h3 {
            margin-top: 30px;
        }
    }
    p,img {
        margin-top: 30px;
        margin-bottom: 0px;
        @media (max-width: @screen-xs-max) {
            margin-top: 15px;
        }
    }
}
.container-4 {
    margin-top: 50px;
    margin-bottom: 10px;
    @media (max-width: @screen-xs-max) {
        margin-top: 30px;
    }
    .col-sm-4 {
        margin-top: 15px;
    }
    p {
        margin-top: 30px;
        margin-bottom: 0px;
        @media (max-width: @screen-xs-max) {
            margin-top: 15px;
        }
    }
    ul {
        margin-top: 10px;
    }
}
.container-5 {
    margin-top: 25px;
    margin-bottom: 50px;
    @media (max-width: @screen-xs-max) {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .col-sm-5, .col-sm-7 {
        margin-top: 30px;
        @media (max-width: @screen-xs-max) {
            margin-top: 15px;
        }
    }
    p {
        margin-top: 10px;
        margin-bottom: 0px;
    }
}
.container-6 {
    padding-top: 40px;
    padding-bottom: 50px;
    @media (max-width: @screen-xs-max) {
        padding-top: 25px;
        padding-bottom: 30px;
    }
    .col-sm-6:nth-child(2) {
        padding-top: 30px;
    }
    p {
        margin-top: 25px;
        margin-bottom: 0px;
        &:nth-child(3) {
            margin-top: 15px;
        }
    }
    .btn, img {
        margin-top: 30px;
        @media (max-width: @screen-xs-max) {
            margin-top: 15px;
        }
    }
}
.container-7 {
    margin-top: 40px;
    margin-bottom: 50px;
    @media (max-width: @screen-xs-max) {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    p {
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .btn {
        margin-top: 30px;
        @media (max-width: @screen-xs-max) {
            margin-top: 15px;
        }
    }
}
.container-8 {
    .row:nth-child(1) {
        padding-top: 40px;
        @media (max-width: @screen-xs-max) {
            padding-top: 25px;
        }
    }
    .row:nth-child(2) {
        padding-bottom: 50px;
        @media (max-width: @screen-xs-max) {
            padding-bottom: 25px;
        }
    }
    .col-sm-3 {
        margin-top: 35px;
        @media (max-width: @screen-xs-max) {
            margin-top: 15px;
        }
        > a {
            display: inline-block;
            margin-top: 35px;
            font-size: 24px;
            line-height: 28px;
            font-weight: 600;
            @media (max-width: @screen-xs-max) {
                margin-top: 15px;
                font-size: 18px;
                line-height: 21px;
            }
        }
    }
    p {
        margin-top: 15px;
    }
    ul {
        padding-top: 25px;
        @media (max-width: @screen-xs-max) {
            padding-bottom: 15px;
        }
    }
    li {
        padding-bottom: 0px;
        > a {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: @blue-color;
            color: #fff;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            vertical-align: top;
            transition: all 0.3s ease;
            &:hover {
                background-color: @gray-bg;
                color: @black-color;
            }
        }
    }
}
.container-9 {
    padding-top: 25px;
    padding-bottom: 50px;
    @media (max-width: @screen-xs-max) {
        padding-top: 15px;
        padding-bottom: 25px;
    }
    .col-sm-4 {
        margin-top: 30px;
        @media (max-width: @screen-xs-max) {
            margin-top: 15px;
        }
    }
    p {
        border-right: 1px solid @gray-color;
        border-left: 1px solid @gray-color;
        border-bottom: 1px solid @gray-color;
        padding: 20px;
        @media (max-width: @screen-xs-max) {
            padding: 10px;
        }
    }
}
.container-10 {
    margin-top: 40px;
    margin-bottom: 40px;
    @media (max-width: @screen-xs-max) {
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .col-sm-8 {
        a {
            display: inline-block;
            margin-top: 25px;
        }
        p {
            margin-top: 15px;
        }
    }
    ul {
        margin-top: 10px;
    }
}
.container-11 {
    margin-top: 25px;
    margin-bottom: 35px;
    @media (max-width: @screen-xs-max) {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .col-sm-12 {
        a {
            display: inline-block;
            margin-top: 25px;
        }
        p {
            margin-top: 15px;
        }
    }
    .col-sm-4 {
        margin-top: 25px;
    }
    ul {
        margin-top: 10px;
    }
}
.container-12 {
    margin-top: 25px;
    margin-bottom: 50px;
    @media (max-width: @screen-xs-max) {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    img {
        margin-top: 30px;
        @media (max-width: @screen-xs-max) {
            margin-top: 15px;
        }
    }

    a.link-lg {
        display: inline-block;
        margin-top: 25px;
    }
    p {
        margin-top: 10px;
    }
    p:first-child {
        margin-top: 15px;
    }
    a.btn {
        margin-top: 30px;
        @media (max-width: @screen-xs-max) {
            margin-top: 15px;
        }
    }
}
.container-13 {
    margin-top: 40px;
    margin-bottom: 40px;
    @media (max-width: @screen-xs-max) {
        margin-top: 25px;
        margin-bottom: 20px;
    }
    a.link-lg {
        display: inline-block;
        margin-top: 25px;
    }
    p {
        margin-top: 15px;
    }
    img {
        margin-top: 30px;
        @media (max-width: @screen-xs-max) {
            margin-top: 15px;
        }
    }
    .col-sm-6 {
        margin-top: 25px;
        p:first-child {
            margin-top: 20px;
            @media (max-width: @screen-xs-max) {
                margin-top: 10px;
            }
        }
    }
    
    ul {
        margin-top: 10px;
    }
}
.contacts {
    .col-sm-4, .col-sm-8{
        margin-top: 25px;
    }
    p {
        margin-top: 25px;
    }
    i {
        font-size: 18px;
        color: @blue-color;
        width: 60px;
        @media (max-width: @screen-sm-max) {
            width: 30px;
        }
    }
}
footer {
    padding-top: 50px;
    padding-bottom: 35px;
    ul {
        padding-top: 0px;
        float: right;
    }
    li {
        padding-bottom: 0px;
    }
    a {
        color: inherit;
        &:hover {
            color: @black-color;
        }
    }
}
.google-map_contacts iframe {
  width: 100%;
  height: 365px;
}
@media (min-width: 979px) and (max-width: 1200px) {
  .google-map_contacts iframe {
    width: 100%;
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .google-map_contacts iframe {
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 767px) {
  .google-map_contacts iframe {
    height: 200px;
  }
}
@media (max-width: 480px) {
  .google-map_contacts {
    margin-bottom: 45px;
  }
