// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
.button-variant-hover(@background) {
	color: @color;
    background-color: @background;
        border-color: @border;
}
.button-variant-hover(@background) when (@background = @btn-primary-bg) {
	color: @btn-default-color;
    background-color: @btn-default-bg;
        border-color: @btn-default-border;
}
.button-variant-hover(@background) when (@background = @btn-default-bg) {
	color: @btn-primary-color;
    background-color: @btn-primary-bg;
        border-color: @btn-primary-border;
}
.button-variant(@color; @background; @border) {
  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    .button-variant-hover(@background)
  }
}
