﻿// Grid system
//
// Generate semantic grid columns with these mixins.

// Centered container element
.container-fixed(@gutter: @grid-gutter-width) {
  padding-left:  0px; // (@gutter / 2);
  padding-right: 0px; // (@gutter / 2);
}

// Creates a wrapper for a series of columns
.make-row(@gutter: @grid-gutter-width) {
  @media (max-width: @screen-md-max) {
    margin-left:  -10px;
    margin-right: -10px;
  }
}