// Vendor Prefixes
//

// Placeholder text
.placeholder(@color: @input-color-placeholder) {
  // Firefox
  &::-moz-placeholder {
    :focus&{
        opacity: 0.4;
    }
  }
  // Internet Explorer 10+
  &:-ms-input-placeholder {
      :focus&{
        opacity: 0.4;
    }
  }
  // Safari and Chrome 
  &::-webkit-input-placeholder  { 
      :focus&{
        opacity: 0.4;
    }
  } 
}
