//
// Forms
// --------------------------------------------------

// Common form controls
//

.form-control {
  &[type="text"],
  &[type="email"] {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      .box-shadow(none);
      &:focus {
          outline: 0;
      }
      //.form-control-focus();
  }
  
}

