//
// Labels
// --------------------------------------------------

.label {
  display: inline-block; // inline;
  position: relative;
  padding: 0px; // .2em .6em .3em;
  margin-right: 14px;
  font-size: 14px; // 75%;
  font-weight: normal; // bold
  line-height: 24px; // 1;
  border-radius: 0px; // .25em;
  vertical-align: top; // baseline;
  height: 47px;
  width: 59px;
  > i {
      font-size: 30px;
      line-height: 47px;
      font-style: normal;
  }
  &::after {
    content: ''; 
    position: absolute;
    right: -12px; 
    top: 50%;
    margin-top: -6px;
    border: 6px solid transparent;
    border-left: 6px solid @blue-color;
   }
  @media (max-width: @screen-md-max) {
    margin-right: 5px;
  }
}