// Wrapper and base class
//
.navbar {
    border-width: 0px;
    select {
        margin: 20px 0 21px 21px;
        width: 376px;
        display: none;
        @media (max-width: @screen-xs-max) {
            display: inline-block;
        }
    }
}
// Brand/project name
//
.navbar-brand {
  font-size: 48px;
  line-height: 50px;
  font-weight: 600;
  margin-top: -3px;
  padding: @navbar-padding-vertical 0px;
  > span {
	background: @brand-primary;
    display: inline-block;
    color: #ffffff;
    padding-left: 12px;
  }
  @media (max-width: @screen-md-max) {
    font-size: 30px;
    line-height: 40px;
    margin-top: 7px;
    > span {
        padding-left: 8px;
    }
  }
  @media (max-width: @screen-xs-max) {
      padding-left: 0px;
  }
  @media (min-width: @grid-float-breakpoint) {
    .navbar > .container &,
    .navbar > .container-fluid & {
      margin-left: 0px;
    }
  }
}
// Navbar nav links
//

.navbar-nav {
  padding-top: 17px;
  padding-bottom: 17px;
  > li {
      padding-bottom: 0px;
  }
  > li > a {
    font-size: 18px;
    line-height: 23px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
  }
}
// Both navbar header and collapse
//
.container,
.container-fluid {
  > .navbar-header,
  > .navbar-collapse {
    margin-right: 0px;
    margin-left:  0px;
  }
}