//
// Typography
// --------------------------------------------------
@media (max-width: @screen-sm-max) {
    body {
       font-size: @font-size-small;
    }
}

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 0px; // @line-height-computed;
  margin-bottom: 0px; // (@line-height-computed / 2);
}
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0px; // (@line-height-computed / 2);
  margin-bottom: 0px; // (@line-height-computed / 2);
}
h3, .h3 {
    @media (max-width: @screen-xs-max) {
        padding-top: 10px;
    }
}
@media (max-width: @screen-md-max) {
    h1, .h1 { font-size: @font-size-h2; }
    h2, .h2 { font-size: @font-size-h3; }
    h3, .h3 { font-size: @font-size-h4; }
    h4, .h4 { font-size: @font-size-h5; }
}
@media (max-width: @screen-sm-max) {
    h1, .h1 { font-size: @font-size-h3; }
    h2, .h2 { font-size: @font-size-h4; }
    h3, .h3 { font-size: @font-size-h5; }
    h4, .h4 { font-size: @font-size-h6; }
}

// Blockquotes
blockquote {
  position: relative;
  padding: 22px 35px 22px 20px; // (@line-height-computed / 2) @line-height-computed;
  margin: 30px 0 0; // 0 0 @line-height-computed;
  border-left: 12px solid @blockquote-border-color; // 5px solid @blockquote-border-color;
  @media (max-width: @screen-sm-max) {
    margin: 15px 0 0;
  }
  background-color: @gray-bg;
  &::before {
    content: ''; 
    position: absolute;
    left: 0px; 
    top: 50%;
    margin-top: -8px;
    border: 8px solid transparent;
    border-left: 6px solid @blue-color;
   }
}